@import '../../variables.scss';

.Menu {
  position: fixed;
  display: inline-flex;
  margin: 0;
  padding: 0 15px 5px;
  background-color: white;
  width: 100vw;
  z-index: 100;
  cursor: pointer;
  justify-content: center;

  &-imgDisactive,
  &-imgActive {
    height: 30px;
    top: 8px;
    position: relative;
    margin: 0 0 0 5px;
  }

  &-imgActive {
    position: absolute;
    opacity: 0;
  }

  &-navActive {
    .Menu-imgActive {
      opacity: 1;
    }

    .Menu-imgDisactive {
      opacity: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    display: inline-flex;
    margin: 0 0 0 10px;
    list-style-type: none;
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: gray;

      &:hover {
        color: black;

        .Menu-imgActive {
          opacity: 1;
        }

        .Menu-imgDisactive {
          opacity: 0;
        }
      }
    }
  }
}